.nav-bar-dropdown-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 5em;
    width: 29em; /*12em if small*/
    background-color: white;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    /* scroll feature */
    max-height: 250px;
    /* to get scroll */
    overflow: auto;
    overscroll-behavior: contain; /* Prevent SCROLL-CHAINING to parent elements. */
    
}

li a {
    color: white;
}

li a:hover {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    padding: 4px 6px;
    border-bottom: 1px solid #e5e5e5;
    max-width: 220px;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #e5e5e5;
    /* color: white; */
}

.nav-bar-dropdown-button-text {
    /* TBC: Make menu button equal in width
    min-width: 164px !important;
    */
    text-align: center;
    padding: 22px 1em;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    border-radius: 2px;
}

.nav-bar-dropdown-button-text:hover {
    background-color: #b47ce6;
    transition: .15s ease-in;
}

.nav-bar-dropdown-button-text-glow {
    transition: opacity .15s ease-in;
}

