.dropdown {
    position: relative;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 3.7em;
    width: 10em;
    background-color: white;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    /* scroll feature */
    max-height: 250px;
    /* to get scroll */
    overflow: auto;
    overscroll-behavior: contain; /* Prevent SCROLL-CHAINING to parent elements. */
    
}

li a {
    color: white;
}

li a:hover {
    text-decoration: none;
    color: white;
}

li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #e5e5e5;
    /* color: white; */
}

.button {
    padding: 12px 1em;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    border-radius: 2px;
}

.button:hover {
    background-color: #b47ce6;
    transition: .15s ease-in;
}

.glow {
    transition: opacity .15s ease-in;
}

