html, body {
    background-color: #9b63cd;
}

.navbar {
    height: 5em;
    padding-top: 0 !important;
    /* display: flex; */
    background-color: #9b63cd;
}

.Brand {
    border: none;
    background-color: inherit;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
    padding: 0 2%;
    color: white;
    float: left;
}

.Brand:hover {
    color: white;
}

.navbar-right {
    cursor: default;
    /* display: inline-block; */
    /* outline: 1px solid red; */
}

/* Responsive SearchBar */
@media (max-width: 1160px) {
    .nav-bar-right-search-bar-hide-in-mobile {
        display: none !important;
    }
}

/* Responsive NavBar */
@media (max-width: 1160px) {
    .nav-bar-right-hide-in-mobile {
        display: none !important;
    }
}

/* Responsive Brand */
@media (max-width: 426px) {
    .Brand {
        display: none !important;
    }
}
