.sidebar-contents-container {
    padding-top: 2em;
}

.sidebar-dropdown-btn {
    font-size:1.6em !important;
    padding-left: 2em;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidebar-dropdown-container {
    font-size: 1.4em;
    color: white;
    background-color: #22252b;
    padding-left: 3.2em;
    
}

.sidebar-dropdown-container a {
    color: inherit;
    text-decoration: none;
}

.sidebar-dropdown-btn:hover {
    color: white;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.fa-caret-down {
    float:right;
    margin-top: 0.2em;
    margin-right: 1em;
}

.fa-caret-up {
    float:right;
    margin-top: 0.2em;
    margin-right: 1em;
}