body {
    max-height: 10px !important;
}

/* Disable draggable image */
.noDrag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}
